.container > .head-cont {
  padding: 0.5rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.container > .head-cont > h3 {
  font-size: 1.5rem;
  font-family: cursive;
}
.container > .head-cont > select {
  display: block;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-align: center;
  outline: none;
  font-size: 1rem;
  background: #9d86e7ce;
  border: 3px solid #ffffff59;
  border-radius: 3px;
  color: #fff;
  transition: all 0.5s;
}

.container > .head-cont > select:hover,
.container > .head-cont > select:focus {
  background: transparent;
  cursor: pointer;
  color: #05cdff;
  transition: all 0.5s;
}

.container > .head-cont > select > option {
  cursor: pointer;
}
