body {
  background-color: #383838;
}

.App header {
  background-color: #9d86e7;
  padding: 1rem;
  margin: 2rem auto;
  width: 50%;
  border-radius: 1rem;
  text-align: center;
}

.App header > h3 {
  background-color: #5b006a;
  padding: 1rem;
  color: #fff;
  width: fit-content;
  margin: 0rem auto;
  border-radius: 1rem;
}

.App .container {
  margin: 1rem auto;
  width: 80%;
  background-color: #1a1a1a;
  border-radius: 1rem;
  padding: 1rem 3rem;
}
